<% unless journeys.empty? %>
  <% journeys.each do |j| %>
    <%= link_to raw("<div class='dash-knob'>
      <span class='white'>#{j.name.titleize}</span>
      <span id='interaction-count'>Interactions
      #{j.interactions.count}</span></div>"), 
      itenerary_path(j.itenerary) %>
  <% end %>
<% else %>
  <h3 class="white center-text">Sorry there were no results </h3>
  <h3 class="center-text"><%= link_to "start over", 
    users_search_journey_path(method: :get, search: ""),
    remote: true%></h1>
<% end %>
