<div class="banner">
  <div class="row">
    <div class="small-12 large-12 columns">
      <% unless user_signed_in? %>
        <%=link_to new_session_path, class: "button"%>
      <% end %>
    </div>
  </div>

  <% unless current_user.profile%>
    <div class="show" id="modal">
      <div id="profileBox">
        <%= render partial: "/profiles/form" %>
        <%= link_to "I'll do this Later", 
          "#", 
          id: "close_modal", 
          class: "button tiny secondary"%>
      </div>
    </div>
  <%end%>
  <div class="row">
    <div class="small-12 large-12">
      <!--partial with form for question--!>
    </div>
  </div>
</div>
