<div class="extended-banner">
  <%= link_to "For Parents", "#", class: "button"%>
  <% unless current_user.profile%>
    <div id="modal-back">
    </div>
    <div class="show" id="modal">
      <div id = "globe-wrapper">
        <div class="row">
          <div class="hide-for-small medium-12 
            medium-centered large-8 large-centered columns">
              <%= image_tag "http://i.imgur.com/0UBcDcb.png", id: "modal-globe" %>
          </div>
        </div>
      </div>
      <div id="profileBox">
        <div class="row">
          <div class="small-8 small-centered medium-6
            medium-centered large-4 large-centered columns">
            <%= render partial: "/profiles/form" %>
            <%= link_to "I'll do this Later",
              "#",
              id: "close_modal",
              class: "button tiny secondary"%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <div class="row">
    <div class="small-12 large-12 columns">
      <h1 class="lobster dark-blue">Dashboard</h1>
    </div>
  </div>
</div>
