<div class="row">
  <div class="small-12 large-12 columns">
    <h1 id="welcome">What I do not know. I do not think I know.</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-10 columns">
    <div id="sign-in">
      <%= link_to "login", new_user_session_path, class: "button"%>
      <%= link_to "Sign up", new_user_registration_path, class: "button"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-4 large-4 columns"></div>
  <div class="small-4 large-8 columns">
    <div id="globe">
      <%= image_tag "http://www.dmr-marc.net/images/globe.png" %>
    </div>
  </div>
</div>


