
li {list-style: none;}

a {text-decoration: none;
 }

body {background-color: #efefef;
      margin: 0 0 0 0;
}

#header{height: 50px;
        width: 100%;
        background-color: #3EA4ED;
        font-family: "HelveticaNeue-Light", 
}

#main-heading {padding: 20px 0 20px 5%;
               font-size: 20px;
               color: #B2D4ED;
}

#content {padding: 30px 5% 5% 5%;
          line-height: 1.4;
          font-family: "HelveticaNeue-Light", 
                       "Helvetica Neue Light", 
                       "Helvetica Neue",
                       "Helvetica Helvetica",
                       "Helvetica",
                       "Arial",
                       "Lucida Grande",
                       "sans-serif";
          font-weight 300;
        }

#dir-heading {border-bottom: 1px solid #cccaca;}

#looked-in {width:100%;
            padding-bottom: 50px;
}

#looked-css {width: 200px;
             float: left;
             border-right: 2px solid #cccaca;
             padding-right: 10px;
}

#css-heading {border-bottom: 1px solid #cccaca;
              font-size: 20px;
              font-weight: bold;

}

#html-heading {border-bottom: 1px solid #cccaca;
               font-size: 20px;
               font-weight: bold;
}
#looked-html {width: 200px;
              float: left;
              padding-left: 10px;
}

#css-file:hover {color: blue;}
#html-file:hover {color: blue;}

#found-wrapper{padding: 30px 0 30px 0;
               width: 100%;
               float: left;
               color: green;
}

#found-title-wrapper {border-bottom: 1px solid #cccaca;}


#found-css {padding-right: 10px;
            display: inline;
            font-weight: bold;
            font-size: 20px;

}
#good-percent {display: inline;
               color: black;
}

#found-style-wrapper {padding-top:10px;}

#empty-wrapper {color: red;
                float: left;
                width: 100%;
}

#empty-title-wrapper {border-bottom: 1px solid #cccaca;

}

#empty-css {padding-right: 10px;
            display: inline;
            font-weight: bold;
            font-size: 20px;

}

#bad-percent {display: inline;
              color: black;
}

#empty-style-wrapper {padding: 10px 0 40px 0;}


#style {color: green;}

#footer {width: 100%;
         float: left;
         height: 200px;
         background-color: #ADB3B8;
         padding-top: 50px;
         line-height: 1.4;
         font-family: "HelveticaNeue-Light";

}

#footer-info {padding: 0 0 0 5%;
              font-size: 20px;
}


#footer-caption {color: #efefef;}

#issues-link:hover {color: blue;}

