@import 'global';

.city-img-th {margin-top:4px;
}

/* Photo wall side bar*/

#photo-wall {height: 100%;
             background-color: darken($background-blue, 20);
             position: relative;
             overflow-y: scroll;
             padding: 10px;
             z-index: 2000
}

#trip-details {height: 600px;
               width: 600px;
               position: absolute;
               margin-left: 70%;
}

#circle-content { margin: 300px 150px 0px 150px;
                  background-color: white;
                  border-radius: 50%;
                  padding: 50px;


}

#destination-wrapper {padding: 30px;}

#journey-summary {font-size: 20px;}

#miles-circle {padding: 40px 3px 3px 0px;
               margin-top: -20px;
               margin-bottom: -40px;
               background-color: white;
               width: 100px;
               height: 100px;
               border-radius: 50%;
}

#miles {margin-top: 50px;}

#photo-wall {height: 100%;
             background-color: darken($background-blue, 20);
             float: right;
             position: relative;
             overflow-y: scroll;
             padding: 10px;
             z-index: 2000
}

#outer-wrapper {height: 400px;
                width: 100%;
                overflow-x: scroll;
}

#photos-wrapper {height: auto;
                 width: 100%; 
}

#image-description {margin: 30px;}

#modal-back-img {height: 100%;
                 width: 100%;
                 position: absolute;
                 background: darken($background-blue, 50);
                 top: 0px;
                 left: 0px;
                 right: 0px;
                 -webkit-filter: brightness(.1);
                 opacity: 0.9;
                 z-index: 1000;
}

#image-modal {background-color: transparent;
              z-index: 1000;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top: 0px;
              overflow-y: scroll;
}

