@import 'global';

$dark-grey: darken(#efefef, 30);

.grey {color: $dark-grey;}

.nav-link {position: relative;
           z-index: 2000;
}

.city-img-th {margin-top:4px;
}
.auto {height: auto;}

/* Photo wall side bar*/

#photo-wall {height: 100%;
             background-color: darken($background-blue, 20);
             position: relative;
             overflow-y: scroll;
             padding: 10px;
             z-index: 2000
}

#destination-wrapper {padding: 30px;}

#journey-summary {font-size: 20px;}

#miles-circle {padding: 40px 3px 3px 0px;
               margin-top: -20px;
               margin-bottom: -40px;
               background-color: white;
               width: 100px;
               height: 100px;
               border-radius: 50%;
}

#miles {margin-top: 50px;}

#photo-wall {height: 100%;
             background-color: darken($background-blue, 20);
             float: right;
             position: relative;
             overflow-y: scroll;
             padding: 10px;
             z-index: 2000
}


#outer-wrapper {height: 400px;
                width: 100%;
                overflow-x: scroll;
}

#photos-wrapper {height: auto;
                 width: 100%; 
}

#image-description {margin: 30px;}

#modal-back-img {height: 100%;
                 width: 100%;
                 position: absolute;
                 background: darken($background-blue, 50);
                 top: 0px;
                 left: 0px;
                 right: 0px;
                 -webkit-filter: brightness(.1);
                 z-index: 1000;
}

#full-image {background-color: #efefef;
             padding: 10px;
}

#img-modal-nav {float: left;}

#image-modal {background-color: transparent;
              z-index: 1000;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top: 0px;
              overflow-y: scroll;
}

#city-title {margin-right: 20%;}

#wiki {margin-top: 20px;
}

#for-parents-link {position: relative;
                   z-index: 2000;
}

#content-wrapper {position: relative;
                  z-index: 2000;
}

#grayscale-wrapper {width: inherit;
                    height: inherit;
                    -webkit-filter: grayscale(0.6);
}

#blur-wrapper {width: 100%;
               height: 100%;
               background-color: black;
               -webkit-filter: brightness(0.2);
               position: absolute;
               opacity: 0.7;
               z-index: 1200;
               left: 0;
               top: 0;
}


#city-list {height: 400px;
           overflow: auto;
}
