// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-blue: #73b9e6;

.inline {display: inline;}
.extended-banner {height: 100%;
                  background-color: $background-blue;

}

.lobster {font-family: "Lobster"}

.border-bottom {border-bottom: solid 1px #efefef;}

#modal-back {height: 100%;
             width: 100%;
             position: absolute;
             background: darken($background-blue, 40);
             top: 0px;
             left: 0px;
             opacity: 0.9;
             z-index: 1000;
}

#modal-globe {position: absolute;
              opacity: 0.3;
              margin-top: 5px;
}

#globe-wrapper {overflow-y: scroll;
                height: 100%;
}

#modal {background-color: transparent;
        z-index: 1000;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        overflow-y: scroll;
}

#profile-wrapper {margin-top: 5%;}

#create-profile {margin-top: 10px;}

#city {display: none;}

#profileBox {background-color: transparent;
             padding: 30px;
             border-radius: 5px;
             margin-top: 5%;
}

//map

#map-wrapper {width: 100%;}

#map {width: 100%;
      height: 400px;
}

#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 
