// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global';
li {list-style: none;}

.inline {display: inline;}

.extended-banner {height: 100%;
                  background-color: $background-blue;

}

#nav {position: relative;
      z-index: 2;
      width: 100%;
      top: 0;

}

.lobster {font-family: "Lobster"}

.border-bottom {border-bottom: solid 1px #efefef;}

.center-text {text-align: center;}

.on-top { position: relative;
          z-index: 200;
}

#modal-back {height: 100%;
             width: 100%;
             position: absolute;
             background: darken($background-blue, 40);
             top: 0px;
             left: 0px;
             opacity: 0.9;
             z-index: 1000;
}

#modal-globe {position: absolute;
              opacity: 0.3;
              margin-top: 5px;
}

#globe-wrapper {overflow-y: scroll;
                height: 100%;
}

#modal {background-color: transparent;
        z-index: 1000;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        overflow-y: scroll;
}

#profile-wrapper {margin-top: 5%;}

#create-profile {margin-top: 10px;}

#city {display: none;}

#profileBox {background-color: transparent;
             padding: 30px;
             border-radius: 5px;
             margin-top: 5%;
}

//map

#map-wrapper {width: 100%;
              height: 100%;
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
}

#map {width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
}

#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 

#side-bar {height: 100%;
           width: 300px;
           position: relative;
           float: right;
           z-index: 3;
           background-color: $background-blue;
           padding: 10px;
           top: 0;
}
