// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-blue: #73b9e6;
$question: white;

$img-shadow: 0px 0px 5px 1px darken($background-blue, 10);
@mixin box-shadow($shadow){
  -mox-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -box-shadow: $shadow;
}

.left {float: left;}
.marg-top {margin-top: 30px;}
.white {color: white;
}
.dark-blue {color: darken($background-blue, 40);}
.inline {display: inline;}

.banner {background-color: $background-blue;
         height: auto;
}

.dark-banner {background-color: darken($background-blue, 10);
              height: 100%;
}

.night-banner { background-color: darken($background-blue, 20);
                height: 100%;
}

blue-dot {padding: 3px;
         background-color: darken($background-blue, 30);
         display: inline-block;
         border-radius: 4px;
         margin: 0px 3px 3px 0px;
}


#welcome {color: white;
          font-size: 100px;
          font-family: "Lobster"
}

#sign-in {margin-top: 20px;}

.display-box {background-color: white;
              margin-right: 10px;
              text-align: center;
              padding: 30px;
}
.display-box:hover {-webkit-transform: scale(1.1,1.1);
}

#symposium {margin: 30px 30px 60px 0px;}
#question {color: white;
           font-size: 20px;
         }

#answer {color: darken($background-blue, 30);
        padding: 10px;
} 

#answer_2 {color: darken($background-blue, 20);
        padding: 10px;
}

#location {font-size: 12px;
           padding-left: 15px;
}

#location_2 {font-size: 12px;
             padding-left: 15px;
}

#globe {opacity: 0.2;
        position: fixed;
}

#img-mock { margin-right: 20px; 
           margin-top: 20px;
}

#parents-link {float: left;}

#Parents {padding-top: 30px;}

#safe {color: white;
       font-family: "Lobster";
}
