// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-blue: #73b9e6;
$question: #efefef;

$img-shadow: 0px 0px 5px 2px darken($background-blue, 10);
@mixin box-shadow($shadow){
  -mox-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -box-shadow: $shadow;
}

.left {float: left;}
.marg-top {margin-top: 30px;}
.white {color: white;
}
.inline {display: inline;}

.banner {background-color: $background-blue;
         padding-top: 40px;
         height: 100%;
}

.dark-banner {background-color: darken($background-blue, 10);
              height: 100%;
              margin-top: -25em;
}


#welcome {color: white;
          font-size: 100px;
          font-family: "Lobster"
}

#sign-in {margin-top: 20px;}

.display-box {background-color: white;
              margin-right: 10px;
              text-align: center;
              padding: 30px;
}
.display-box:hover {-webkit-transform: scale(1.1,1.1);
}

#symposium {margin: 30px 30px 0px 0px;}
#question {color: darken($background-blue, 40);
         }

#answer {color: darken($background-blue, 30);
        padding: 10px;
} 

#answer_2 {color: darken($background-blue, 20);
        padding: 0px 0px 0px 20px;
}

#globe {opacity: 0.7;}

#img-mock {width: 200px;
           margin-right: 20px; 
           height: 200px;
           @include box-shadow($img-shadow);
           margin-top: 20px;
}

