// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-blue: #73b9e6;

.banner{background-color: $background-blue;
        height: 100%;
        padding-top: 40px;
}

#welcome {color: white;}

